# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Local IDEs
.vscode/
.idea/

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# Django
db.sqlite3
media/
static/ (if you collect them locally)
